.inputText {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 65vh;
  background-color: beige;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: azure;
  border-radius: 10px;
  flex-direction: column;
}

.coverLine2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 80vh;
  background-color: azure;
  border-radius: 10px;
  flex-direction: column;
  border: 2px solid #ccc;
}

.coverLine1 {
  border: 2px solid lightblue;
  width: 78vw;
  height: 83vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.photoWrapper {
  width: 20vw;
  height: 30vh;
  background-color: lightblue;
  object-fit: cover;
}

button {
  padding: 8px 14px;
  border-radius: 5px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
